@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-primary-light text-text-primary font-sans;
}

#root {
  width: 100%;
}
